.all {
  font-family: 'Sora', sans-serif;
  background-color: #D39245;
  border-radius: 18px;
  width: 342px;
  height: 581px;
  margin: 10px;
  padding: 50px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  float: left;
}

.top {
  display: flex;
  margin-bottom: 25px;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid div {
  margin-block: 10px;
}

.link {
  color: black;
  text-decoration: underline;
  margin-bottom: 10px;
}

.mid div div {
  display: flex;
  color: black;
}

.mid div div p {
  margin-inline: 15px;
  color: white
}

.bottom {
  display: flex;
}

.bottom button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  margin-inline: 20px;
  padding: 10px;
}

.bottom button:hover {
  background-color: #212121;
}

.left_button {
  transform: rotateY(180deg);
}

.button_Plan {
  width: 200px;
  height: 42px;
  border-radius: 10px;
  padding: 12px, 4px, 12px, 4px;
  background-color: #212121;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {

  .all {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px 16px;
  }

}