.all {
  padding-bottom: 30px;
}

.all div div {
  display: flex;
  flex-direction: column;
}

.all div {
  width: -webkit-fill-available;
}

.all input {
  background-color: #ecedf2;
  border-radius: 8px;
  height: 47px;
  margin-block: 10px;
}

.right {
  margin-left: 20px;
}

.last {
  display: flex;
  justify-content: center !important;
  margin-left: 20px;
}

.all p {
  font-size: small;
}

@media screen and (max-width: 620px) {
  .all {
    display: flex;
    flex-direction: column;
  }

  .all div {
    display: flex;
    flex-direction: column;
  }

  .all input {
    margin: 0px;
    width: 100%;
  }

  .right {
    margin: 0;
  }
}
