.video {
  display: flex;
  height: 567px;
  width: 824px;
  border: 0;
}

.videobox {
  filter: drop-shadow(0px 40px 86px rgba(0, 0, 0, 0.5));
}


@media only screen and (max-width: 768px) {
  .video {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: none;
    float: none;
    justify-content: center;
  }

  .videobox {
    width: 100%;
    margin: auto;
    filter: none;
  }
}